WEB-INF/xsd/schema.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
  targetNamespace="http://3e.pl/ADInterface"
  xmlns:tns="http://3e.pl/ADInterface"
  elementFormDefault="qualified">

   <xsd:element name="Window" type="tns:Window"/>

   <xsd:complexType name="Window">
   	<xsd:sequence>
   	   	<xsd:element name="Description" type="xsd:string"/>
	   	<xsd:element name="Help" type="xsd:string"/>
   		<xsd:element name="Tabs" type="tns:TabList" />
   	</xsd:sequence>
   	<xsd:attribute name="Name" type="xsd:string"/>
   	<xsd:attribute name="IsSoTrx" type="xsd:boolean"/>
   	<xsd:attribute name="WindowNo" type="xsd:int"/>
   	<xsd:attribute name="AD_Table_ID" type="xsd:int"/>
   	<xsd:attribute name="AD_Window_ID" type="xsd:int"/>	
   	<xsd:attribute name="WindowType" type="xsd:int"/>	
   	<xsd:attribute name="AD_Image_ID" type="xsd:int"/>
   	<xsd:attribute name="AD_Color_ID" type="xsd:int"/>
   	<xsd:attribute name="IsReadWrite" type="xsd:boolean"/>
   	<xsd:attribute name="WinWidth" type="xsd:int"/>
   	<xsd:attribute name="WinHeight" type="xsd:int"/>   	
   	<xsd:attribute name="IsError" type="xsd:boolean"/>    		   	   	
   	<xsd:attribute name="Error" type="xsd:string"/>    		   	   	
   </xsd:complexType>


   <xsd:complexType name="Tab">
   	<xsd:sequence>
   	   	<xsd:element name="Description" type="xsd:string"/>
	   	<xsd:element name="Help" type="xsd:string"/>   	
	   	<xsd:element name="ReadOnlyLogic" type="xsd:string"/>   	   	  	
   		<xsd:element name="DisplayLogic" type="xsd:string"/>  	  	
   		<xsd:element name="Fields" type="tns:FieldList"/>
	   	<xsd:element name="CommitWarning" type="xsd:string"/>  	  	   	
   		<xsd:element name="WhereClause" type="xsd:string"/>  	  	
	   	<xsd:element name="OrderByClause" type="xsd:string"/>  	  	
   	</xsd:sequence>
   	<xsd:attribute name="Name" type="xsd:string"/>
   	<xsd:attribute name="IsSoTrx" type="xsd:boolean"/>
   	<xsd:attribute name="TabNo" type="xsd:int"/>
   	<xsd:attribute name="WindowNo" type="xsd:int"/>   	
   	<xsd:attribute name="AD_Table_ID" type="xsd:int"/>
   	<xsd:attribute name="AD_Window_ID" type="xsd:int"/>
   	<xsd:attribute name="AD_Tab_ID" type="xsd:int"/>
   	<xsd:attribute name="IsSingleRow" type="xsd:boolean"/>
   	<xsd:attribute name="IsReadOnly" type="xsd:boolean"/>
   	<xsd:attribute name="IsInsertRecord" type="xsd:boolean"/>
   	<xsd:attribute name="HasTree" type="xsd:boolean"/>
   	<xsd:attribute name="IsView" type="xsd:boolean"/>   	
  	<xsd:attribute name="AD_Column_ID" type="xsd:int"/>
  	<xsd:attribute name="TableName" type="xsd:string"/>
  	<xsd:attribute name="AccessLevel" type="xsd:string"/>  	
   	<xsd:attribute name="IsSecurityEnabled" type="xsd:boolean"/>
   	<xsd:attribute name="IsDeleteable" type="xsd:boolean"/>
   	<xsd:attribute name="IsHighVolume" type="xsd:boolean"/>   	   	  	
   	<xsd:attribute name="AD_Process_ID" type="xsd:int"/>
   	<xsd:attribute name="TabLevel" type="xsd:int"/>
   	<xsd:attribute name="AD_Image_ID" type="xsd:int"/>
   	<xsd:attribute name="Included_Tab_ID" type="xsd:int"/>
   	<xsd:attribute name="ReplicationType" type="xsd:string"/>
   	<xsd:attribute name="IsSortTab" type="xsd:boolean"/>   	   	  	
   	<xsd:attribute name="AD_ColumnSortOrder_ID" type="xsd:int"/>
   	<xsd:attribute name="AD_ColumnSortYesNo_ID" type="xsd:int"/>
   	<xsd:attribute name="onlyCurrentRows" type="xsd:boolean"/>   	   	  	
   	<xsd:attribute name="onlyCurrentDays" type="xsd:int"/>   	
   </xsd:complexType>

   <xsd:complexType name="TabList">
   	<xsd:sequence>
   		<xsd:element name="Tab" type="tns:Tab" minOccurs="1" maxOccurs="unbounded" />
   	</xsd:sequence>
   </xsd:complexType>

   <xsd:complexType name="FieldList">
   	<xsd:sequence>
   		<xsd:element name="Field" type="tns:Field" minOccurs="1" maxOccurs="unbounded" />
   	</xsd:sequence>
   </xsd:complexType>

   <xsd:complexType name="Field">
   	<xsd:sequence>
   		<xsd:element name="Tab" type="tns:Tab"/>
   		<xsd:element name="lookupInfo" type="tns:LookupInfo"/>
   		<xsd:element name="Description" type="xsd:string"/>
	   	<xsd:element name="Help" type="xsd:string"/>   	
   		<xsd:element name="ColumnSQL" type="xsd:string"/>
   	   	<xsd:element name="DisplayLogic" type="xsd:string"/>	   	
	   	<xsd:element name="ReadOnlyLogic" type="xsd:string"/> 	
 		<xsd:element name="lookup" type="tns:LookupValues" minOccurs="0" maxOccurs="1"/>
   	</xsd:sequence>
   	<xsd:attribute name="Name" type="xsd:string"/>
   	<xsd:attribute name="WindowNo" type="xsd:int"/>
   	<xsd:attribute name="TabNo" type="xsd:int"/>
   	<xsd:attribute name="AD_Window_ID" type="xsd:int"/>
   	<xsd:attribute name="tabReadOnly" type="xsd:boolean"/>
   	<xsd:attribute name="isProcess" type="xsd:boolean"/>
   	<xsd:attribute name="ColumnName" type="xsd:string"/>
   	<xsd:attribute name="Header" type="xsd:string"/>  	
   	<xsd:attribute name="displayType" type="xsd:int"/>
   	<xsd:attribute name="AD_Column_ID" type="xsd:int"/>
   	<xsd:attribute name="DisplayLength" type="xsd:int"/>   	
   	<xsd:attribute name="IsSameLine" type="xsd:boolean"/>
   	<xsd:attribute name="IsDisplayed" type="xsd:boolean"/>   	
   	<xsd:attribute name="DefaultValue" type="xsd:string"/>	
   	<xsd:attribute name="IsMandatory" type="xsd:boolean"/>
   	<xsd:attribute name="IsReadOnly" type="xsd:boolean"/>
   	<xsd:attribute name="IsUpdateable" type="xsd:boolean"/>
   	<xsd:attribute name="IsAlwaysUpdateable" type="xsd:boolean"/>
   	<xsd:attribute name="IsHeading" type="xsd:boolean"/>
   	<xsd:attribute name="IsFieldOnly" type="xsd:boolean"/>
   	<xsd:attribute name="IsEncryptedField" type="xsd:boolean"/>
   	<xsd:attribute name="IsEncryptedColumn" type="xsd:boolean"/>
   	<xsd:attribute name="IsSelectionColumn" type="xsd:boolean"/>
   	<xsd:attribute name="SortNo" type="xsd:int"/>
   	<xsd:attribute name="FieldLength" type="xsd:int"/>
   	<xsd:attribute name="VFormat" type="xsd:string"/>	
   	<xsd:attribute name="ValueMin" type="xsd:string"/>	
   	<xsd:attribute name="ValueMax" type="xsd:string"/>	
   	<xsd:attribute name="FieldGroup" type="xsd:string"/>	
   	<xsd:attribute name="IsKey" type="xsd:boolean"/>
   	<xsd:attribute name="IsParent" type="xsd:boolean"/>
   	<xsd:attribute name="Callout" type="xsd:string"/>   	
   	<xsd:attribute name="AD_Process_ID" type="xsd:int"/>
   	<xsd:attribute name="ObscureType" type="xsd:string"/>
   	<xsd:attribute name="ValidationCode" type="xsd:string"/>
   	<xsd:attribute name="AD_Reference_Value_ID" type="xsd:int"/>
   	<xsd:attribute name="isRange" type="xsd:boolean"/>
   	<xsd:attribute name="DefaultValue2" type="xsd:string"/>
   </xsd:complexType>

   <xsd:complexType name="LookupInfo">
   	<xsd:sequence>
   		<!--  <xsd:element name="Tab" type="tns:Tab"/>   		
   		<xsd:element name="lookupInfo" type="tns:LookupInfo"/>-->
   		<xsd:element name="ZoomWindow" type="xsd:int"/>
   		<xsd:element name="ZoomWindowPO" type="xsd:int"/>
   	</xsd:sequence>
   </xsd:complexType>

   <xsd:element name="WindowTabData" type="tns:WindowTabData"/>

   <xsd:complexType name="WindowTabData">
   	<xsd:sequence>
   		<xsd:element name="DataSet" type="tns:DataSet" minOccurs="0" maxOccurs="1"/>
   		<xsd:element name="RowCount" type="xsd:int" minOccurs="0" maxOccurs="1"/>   		
   		<xsd:element name="Success" type="xsd:boolean" minOccurs="0" maxOccurs="1"/>
   		<xsd:element name="Error" type="xsd:string" minOccurs="0" maxOccurs="1"/>
   		<xsd:element name="ErrorInfo" type="xsd:string" minOccurs="0" maxOccurs="1"/>
   		<xsd:element name="Status" type="xsd:string" minOccurs="0" maxOccurs="1"/>
   		<xsd:element name="StatusError" type="xsd:boolean" minOccurs="0" maxOccurs="1"/>
   	</xsd:sequence>
   	<xsd:attribute name="NumRows" type="xsd:int" />
   	<xsd:attribute name="TotalRows" type="xsd:int" />   	
   	<xsd:attribute name="StartRow" type="xsd:int" />    	
   </xsd:complexType>

   <xsd:complexType name="DataSet">
   	<xsd:sequence>
   		<xsd:element name="DataRow" type="tns:DataRow" minOccurs="0" maxOccurs="unbounded"/>
   	</xsd:sequence>
   </xsd:complexType>


   <xsd:complexType name="DataRow">
   	<xsd:sequence>
   		<xsd:element name="field" type="tns:DataField" minOccurs="0" maxOccurs="unbounded"/>
   	</xsd:sequence>
   </xsd:complexType>

   <xsd:complexType name="DataField">
   	<xsd:sequence>
 	  		<xsd:element name="val" type="xsd:string" />
 	  		<xsd:element name="lookup" type="tns:LookupValues" minOccurs="0" maxOccurs="1"/>
   	</xsd:sequence>
   	<xsd:attribute name="type" type="xsd:string" use="optional"/>
   	<xsd:attribute name="column" type="xsd:string" />   	
   	<xsd:attribute name="lval" type="xsd:string" use="optional"/>
   	<xsd:attribute name="disp" type="xsd:boolean" use="optional"/>
   	<xsd:attribute name="edit" type="xsd:boolean" use="optional"/>
   	<xsd:attribute name="error" type="xsd:boolean" use="optional"/>
   	<xsd:attribute name="errorVal" type="xsd:string" use="optional"/>
   </xsd:complexType>

   <xsd:complexType name="LookupValues">
   	<xsd:sequence>
   		<xsd:element name="lv" type="tns:LookupValue" minOccurs="0" maxOccurs="unbounded"/>
   	</xsd:sequence>
   </xsd:complexType>

   <xsd:complexType name="LookupValue">
   	<xsd:sequence>
   	</xsd:sequence>
   	<xsd:attribute name="val" type="xsd:string"/>
   	<xsd:attribute name="key" type="xsd:string"/>
   </xsd:complexType>

   <xsd:element name="GetProcessParams" type="tns:GetProcessParams"/>
   <xsd:element name="ProcessParams" type="tns:ProcessParams"/>
   <xsd:element name="RunProcess" type="tns:RunProcess"/>
   <xsd:element name="RunProcessResponse" type="tns:RunProcessResponse"/>

   <xsd:complexType name="ProcessParams">
   	<xsd:sequence>
   	  <xsd:element name="Params" type="tns:ProcessParamList" />
	  <xsd:element name="Description" type="xsd:string"/>   	
	  <xsd:element name="Name" type="xsd:string"/>   	
	  <xsd:element name="Help" type="xsd:string"/>   	  	
   	</xsd:sequence>
   	<xsd:attribute name="AD_Process_ID" type="xsd:int"/>
   </xsd:complexType>

   <xsd:complexType name="GetProcessParams">
   	<xsd:sequence>
   	</xsd:sequence>
   	<xsd:attribute name="AD_Process_ID" type="xsd:int"/>
   	<xsd:attribute name="AD_Menu_ID" type="xsd:int"/>
   	<xsd:attribute name="AD_Record_ID" type="xsd:int"/> 	
   </xsd:complexType>

   <xsd:complexType name="RunProcess">
   <xsd:sequence>
   	<xsd:element name="ParamValues" type="tns:DataRow"/>
   </xsd:sequence>
   	<xsd:attribute name="AD_Process_ID" type="xsd:int"/>
   	<xsd:attribute name="AD_Menu_ID" type="xsd:int"/>
   	<xsd:attribute name="AD_Record_ID" type="xsd:int"/> 	
   	<xsd:attribute name="DocAction" type="xsd:string"/>
   </xsd:complexType>

   <xsd:complexType name="RunProcessResponse">
   <xsd:sequence>
   	<xsd:element name="Error" type="xsd:string"/>   	
   	<xsd:element name="Summary" type="xsd:string"/>
   	<xsd:element name="LogInfo" type="xsd:string"/>
   	<xsd:element name="Data" type="xsd:hexBinary"/>
   </xsd:sequence>
   <xsd:attribute name="IsError" type="xsd:boolean"/>
   <xsd:attribute name="IsReport" type="xsd:boolean"/>
   <xsd:attribute name="ReportFormat" type="xsd:string"/>
   </xsd:complexType>


   <xsd:complexType name="ProcessParamList">
   	<xsd:sequence>
   		<xsd:element name="Param" type="tns:ProcessParam" minOccurs="0" maxOccurs="unbounded"/>
   	</xsd:sequence>
   </xsd:complexType>

   <xsd:complexType name="ProcessParam">
   	<xsd:sequence>
   		<xsd:element name="Description" type="xsd:string"/>
	   	<xsd:element name="Help" type="xsd:string"/>   	
 		<xsd:element name="lookup" type="tns:LookupValues" minOccurs="0" maxOccurs="1"/>
   	</xsd:sequence>
   	<xsd:attribute name="Name" type="xsd:string"/>
   	<xsd:attribute name="DefaultValue" type="xsd:string"/>	
   	<xsd:attribute name="DefaultValue2" type="xsd:string"/>	
   	<xsd:attribute name="IsMandatory" type="xsd:boolean"/>
   	<xsd:attribute name="IsRange" type="xsd:boolean"/>   	
   	<xsd:attribute name="FieldLength" type="xsd:int"/>
   	<xsd:attribute name="DisplayType" type="xsd:int"/>   	   	
	<xsd:attribute name="ColumnName" type="xsd:string"/>    	
   </xsd:complexType>

   <!--
   int WindowNo, int AD_Window_ID, int AD_Menu_ID, int TabNo, int PrevTabNo, int PrevRecNo, boolean getData, int RowStart, int RowCount)
   -->
   <xsd:element name="WindowTabDataReq" type="tns:WindowTabDataReq"/>
   <xsd:complexType name="WindowTabDataReq">
     <xsd:sequence>
	 	<xsd:element name="FindCriteria" type="tns:DataRow"/>
     </xsd:sequence>
     <xsd:attribute name="WindowNo" type="xsd:int" />
     <xsd:attribute name="AD_Window_ID" type="xsd:int" />
     <xsd:attribute name="AD_Menu_ID" type="xsd:int" />
     <xsd:attribute name="TabNo" type="xsd:int" />
     <xsd:attribute name="PrevTabNo" type="xsd:int" />
     <xsd:attribute name="PrevRecNo" type="xsd:int" />
     <xsd:attribute name="getData" type="xsd:boolean" />
     <xsd:attribute name="RowStart" type="xsd:int" />
     <xsd:attribute name="RowCount" type="xsd:int" />

     <xsd:attribute name="fromZoom" type="xsd:boolean" />
	 <xsd:attribute name="fromZoom_Window_ID" type="xsd:int" />
	 <xsd:attribute name="fromZoom_Tab_ID" type="xsd:int" />
	 <xsd:attribute name="fromZoom_Row_ID" type="xsd:int" />
	 <xsd:attribute name="fromZoom_ColumnName" type="xsd:string" />
	 <xsd:attribute name="fromZoom_ColumnValue" type="xsd:string" />
   </xsd:complexType>


<xsd:element name="ADMenu" type="tns:ADMenuItem"/>


<xsd:complexType name="ADMenuItemList">
<xsd:sequence>
 <xsd:element name="Item" type="tns:ADMenuItem" minOccurs="0" maxOccurs="unbounded"/>
</xsd:sequence>
</xsd:complexType>

<xsd:complexType name="ADMenuItem">
<xsd:sequence>
  <xsd:element name="items" type="tns:ADMenuItemList"/>
  <xsd:element name="description" type="xsd:string"/>
  <xsd:element name="url" type="xsd:string"/>
</xsd:sequence>
<xsd:attribute name="AD_Menu_ID" type="xsd:int"/>
<xsd:attribute name="type" type="xsd:string"/>
<xsd:attribute name="name" type="xsd:string"/>
</xsd:complexType>


<xsd:element name="ADLoginRequest" type="tns:ADLoginRequest"/>
<xsd:element name="ADLoginResponse" type="tns:ADLoginResponse"/>

<xsd:complexType name="ADLoginRequest">
<xsd:sequence>
  <xsd:element name="user" type="xsd:string"/>
  <xsd:element name="pass" type="xsd:string"/>
  <xsd:element name="lang" type="xsd:string"/>
  <xsd:element name="ClientID" type="xsd:int"/>
  <xsd:element name="RoleID" type="xsd:int"/>
  <xsd:element name="OrgID" type="xsd:int"/>
  <xsd:element name="WarehouseID" type="xsd:int"/>
  <xsd:element name="stage" type="xsd:int" />
</xsd:sequence>
</xsd:complexType>

<xsd:complexType name="ADLoginResponse">
<xsd:sequence>
  <xsd:element name="status" type="xsd:int"/>
  <xsd:element name="roles" type="tns:LookupValues"/>
  <xsd:element name="langs" type="tns:LookupValues"/>
  <xsd:element name="orgs" type="tns:LookupValues"/>
  <xsd:element name="clients" type="tns:LookupValues"/>
  <xsd:element name="warehouses" type="tns:LookupValues"/>
</xsd:sequence>
</xsd:complexType>

<xsd:complexType name="Location">
<xsd:sequence>
  <xsd:element name="C_Location_ID" type="xsd:int"/>
  <xsd:element name="Name" type="xsd:string"/>
  <xsd:element name="Address1" type="xsd:string"/>
  <xsd:element name="Address2" type="xsd:string"/>
  <xsd:element name="City" type="xsd:string"/>
  <xsd:element name="PostalCode" type="xsd:string"/>
  <xsd:element name="C_Country_ID" type="xsd:int"/>
  <xsd:element name="C_Region_ID" type="xsd:int"/>
  <xsd:element name="Countries" type="tns:LookupValues" minOccurs="0" maxOccurs="1"/>
<!--  <xsd:element name="Regions" type="tns:LookupValues" minOccurs="0" maxOccurs="1" />    -->
</xsd:sequence>
</xsd:complexType>

<xsd:complexType name="StandardResponse">
<xsd:sequence>
   	<xsd:element name="Error" type="xsd:string"/>   	
</xsd:sequence>
<xsd:attribute name="IsError" type="xsd:boolean"/>
<xsd:attribute name="RecordID" type="xsd:int"/>   	
</xsd:complexType>


<xsd:element name="Location" type="tns:Location"/>
<xsd:element name="StandardResponse" type="tns:StandardResponse"/>

<xsd:element name="DocAction" type="tns:DocAction"/>

<xsd:complexType name="DocAction">
<xsd:sequence>
    <xsd:element name="Action" type="tns:LookupValues" minOccurs="0" maxOccurs="1"/>
   	<xsd:element name="Error" type="xsd:string"/>   	
</xsd:sequence>
<xsd:attribute name="IsError" type="xsd:boolean"/>
<xsd:attribute name="RecordID" type="xsd:int"/>   	
</xsd:complexType>

<xsd:element name="getLookupSearchDataReq" type="tns:getLookupSearchDataReq"/>
<xsd:complexType name="getLookupSearchDataReq">
 <xsd:sequence>
    <xsd:element name="Params" type="tns:DataRow" minOccurs="0" maxOccurs="1"/>
 </xsd:sequence>
 <xsd:attribute name="WindowNo" type="xsd:int" />
 <xsd:attribute name="TabNo" type="xsd:int" />
 <xsd:attribute name="RowNo" type="xsd:int" />
 <xsd:attribute name="ColumnName" type="xsd:string" />
</xsd:complexType>


<!-- Elements added for model web services -->

   <xsd:element name="ModelSetDocActionRequest" type="tns:ModelSetDocActionRequest"/>

   <xsd:complexType name="ModelSetDocAction">
   <xsd:sequence>
     <xsd:element name="serviceType" type="xsd:string"/>
     <xsd:element name="tableName" type="xsd:string"/>
     <xsd:element name="recordID" type="xsd:int"/>
     <xsd:element name="docAction" type="xsd:string"/>
   </xsd:sequence>
   </xsd:complexType>

   <xsd:complexType name="ModelSetDocActionRequest">
   <xsd:sequence>
     <xsd:element name="ModelSetDocAction" type="tns:ModelSetDocAction" minOccurs="1" maxOccurs="1"/>
     <xsd:element name="ADLoginRequest" type="tns:ADLoginRequest" minOccurs="1" maxOccurs="1"/>
   </xsd:sequence>
   </xsd:complexType>

   <xsd:element name="ModelRunProcess" type="tns:ModelRunProcess"/>

   <xsd:complexType name="ModelRunProcess">
    <xsd:sequence>
      <xsd:element name="serviceType" type="xsd:string"/>
   	  <xsd:element name="ParamValues" type="tns:DataRow"/>
    </xsd:sequence>
   	<xsd:attribute name="AD_Process_ID" type="xsd:int"/>
   	<xsd:attribute name="AD_Menu_ID" type="xsd:int"/>
   	<xsd:attribute name="AD_Record_ID" type="xsd:int"/> 	
   	<xsd:attribute name="DocAction" type="xsd:string"/>
   </xsd:complexType>

   <xsd:element name="ModelRunProcessRequest" type="tns:ModelRunProcessRequest"/>

   <xsd:complexType name="ModelRunProcessRequest">
   <xsd:sequence>
     <xsd:element name="ModelRunProcess" type="tns:ModelRunProcess" minOccurs="1" maxOccurs="1"/>
     <xsd:element name="ADLoginRequest" type="tns:ADLoginRequest" minOccurs="1" maxOccurs="1"/>
   </xsd:sequence>
   </xsd:complexType>

   <xsd:element name="ModelGetListRequest" type="tns:ModelGetListRequest"/>

   <xsd:complexType name="ModelGetList">
   <xsd:sequence>
     <xsd:element name="serviceType" type="xsd:string"/>
     <xsd:element name="AD_Reference_ID" type="xsd:int"/>
     <xsd:element name="Filter" type="xsd:string"/>
   </xsd:sequence>
   </xsd:complexType>

   <xsd:complexType name="ModelGetListRequest">
   <xsd:sequence>
     <xsd:element name="ModelGetList" type="tns:ModelGetList" minOccurs="1" maxOccurs="1"/>
     <xsd:element name="ADLoginRequest" type="tns:ADLoginRequest" minOccurs="1" maxOccurs="1"/>
   </xsd:sequence>
   </xsd:complexType>

   <xsd:element name="ModelCRUDRequest" type="tns:ModelCRUDRequest"/>

   <xsd:complexType name="ModelCRUD">
   <xsd:sequence>
     <xsd:element name="serviceType" type="xsd:string"/>
     <xsd:element name="TableName" type="xsd:string"/>
     <xsd:element name="RecordID" type="xsd:int"/>
     <xsd:element name="Filter" type="xsd:string"/>
     <xsd:element name="Action">
     	<xsd:simpleType>
     		<xsd:restriction base="xsd:string">
     			<xsd:enumeration value="Create"></xsd:enumeration>
     			<xsd:enumeration value="Read"></xsd:enumeration>
     			<xsd:enumeration value="Update"></xsd:enumeration>
     			<xsd:enumeration value="Delete"></xsd:enumeration>
     		</xsd:restriction>
     	</xsd:simpleType>
     </xsd:element>
     <xsd:element name="DataRow" type="tns:DataRow" minOccurs="0" maxOccurs="1"/>
   </xsd:sequence>
   </xsd:complexType>

   <xsd:complexType name="ModelCRUDRequest">
   <xsd:sequence>
     <xsd:element name="ModelCRUD" type="tns:ModelCRUD" minOccurs="1" maxOccurs="1"/>
     <xsd:element name="ADLoginRequest" type="tns:ADLoginRequest" minOccurs="1" maxOccurs="1"/>
   </xsd:sequence>
   </xsd:complexType>

</xsd:schema>